<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Обо мне</title>
</head>
<body>
    <div class="container">
        <div class="title">Информация обо мне</div>
        <table align="center">
            <tr>
                <td>
                    <img src="../static/img/avatar.png">
                </td>
                <td>
                    <ul>
                        <li>Имя: Дмитрий Лобанев</li>
                        <li>Гитхаб: <a href="https://github.com/Lobashik" target="_blank">Мой профиль</a></li>
                        <li>ВК: <a href="https://vk.com/id395309426" target="_blank">Мой профиль</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>